body {
    margin: 0px;
    background-color: #c1c1c1;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 30px;
    cursor: default;
}

#bigTitle {
    margin: 0px auto 15px auto;
}

#search {
    width: 25%;
    font-size: 16px;
}

#searchBtn {
    background-color: rgb(192 68 68);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 0;
}

#searchBtn:hover {
    background-color: aliceblue;
    color: rgb(192 68 68);
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(192 68 68);
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.movieCard {
    background-color: white;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    box-shadow: 0 0 5px 1px rgb(70 70 70);
    border-radius: 8px;
}

.movieCard:hover {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    box-shadow: 0 0 6px 2px rgba(61, 44, 44, 0.929);
    border-radius: 8px;
    cursor: default;
}

.movieimg{
    margin: 5px auto 7px auto;
}

.title {
    width: fit-content;
    margin: 6px auto 6px auto;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marks {
    width: max-content;
    margin: auto;
    color: maroon;
}

#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
}

#modalContent {
    display: grid;
        justify-content: center;
        align-items: center;
        background-color: #1a1818;
        margin: 3% auto auto auto;
        width: 60%;
        height: 80%;
        padding: 30px 30px 40px 30px;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        cursor: default;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px white;
}

#modalimg {
    height: 571px;
    outline: solid 1px white;
}

.modalText{
    color: white;
}

#modalComment{
    background-color: #9494943c;
    box-shadow: 0 0 3px 1px #998b8b6e;
    padding: 5px;
    border-radius: 10px;
}

.exit {
    width: 200%;
    text-align: center;
    color: rgb(225, 198, 198);
}